*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
     
    width: 100vw;
    height: 100vh;
}

.riquadro{
    width: 70%;
    height: 90%;
    
    margin: auto;
    
    
}
.colonna-1{
    width: 30%;
    height: calc(100% - 20px);
    background-color: seashell;
    margin-top: 20px;
    float: left;
}
.colonna-2{
    width: 70%;
    height: calc(100% - 20px);
    
    margin-top: 20px;
    float: left;
}
/* fine generali */
/* dentro .colonna-1 */
.nome-proprietario{
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notifiche{
    width: 100%;
    height: 50px;
    background-color: #9DE1FF;
    display: flex;
    align-items: center;
}
.ricerca-contatti{
    width: 100%;
    height: 50px;
    background-color: #F6F8F9;
}
.contatti{
    width: 100%;
    min-height: 200px;  
    
}
/* fine .colonna-1 */

/* dentro .colonna-2 */
.contatto-attivo{
    width: 100%;
    height: 50px;
     
}
.chat{
    width: 100%;
    height: calc(100% - 100px);
    background-image: url("../img/mine.jpg");
    padding: 10px;
}
.scrivi-messaggio{
    width: 100%;
    height: 50px;
     

}
/* fine .colonna-2 */


/* .nome-proprietario dentro */

.resize-io{
    width: 40px;
    border-radius: 50%;
    
    padding: 5px;

}

.icone-c1{
    width: 25%;
    display: flex;
    justify-content: space-around;

}
.nome-proprietario-container{
    display: flex;
    align-items: center;
}
.campanella{
    margin: 10px;
    border-radius: 50%;
    background-color: white;
    padding: 10px

}
.ricerca{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
}

.resize-contatti{
    width: 45px;
    border-radius: 50%;
    
    padding: 5px;
}
.flex-contatti{
    display: flex;
    align-items: center;
}
.inviato > div{
    
    background-color: white;
    
    
    
}
.ricevuto > div{
    
    background-color: #E1FFC7;
}

.prova{
    position: relative;
    margin: 5px;
    padding: 10px;
    border: 1px solid lemonchiffon;
    width: 30%;
    border-radius: 15px;
}
.data-p{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 5px;
}
